/*
#1 color = #4ACCD1;
#2 color = #3fbbc0;
*/

a:hover,
a:focus {
    color: #4ACCD1;
}

.circled {
	background: #4ACCD1;
}

.con1 > div, .con2 > div, .con3 > div { 
	background-color: #4ACCD1;
}

.scrollup:hover {
	background: #4ACCD1;
}


/* service */

.service-icon span {
	color: #683F1E;
}



/* button */
.btn-skin {
  background-color: #FC8434;
  border-color: #FC8434;
}
.btn .icon-link{
    background-color:#FC8434;
    border-color:#FC8434}

/* top */
.top-area {
	background: #FFA540;
}

/* menu */

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #3fbbc0;
}
.navbar-custom.top-nav-collapse .nav li a:hover,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active a,.navbar-custom.top-nav-collapse .nav li.active a  {
    color: #3fbbc0;
}


.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #4ACCD1;
}


.bg-skin {
	background: #683F1E;
}

.highlight-color {
	background-color: #4ACCD1;
}
.color {
	color: #4ACCD1;
}

/* pricing box  */
.pricing-content.featured h2,.pricing-content.featured .price-bottom {
	background-color:#3fbbc0;
}
.pricing-content.featured h3 {
	background:#4ACCD1;
}



/* team */
.cbp-l-grid-team-name {
    color: #3fbbc0;
}

.cbp-l-filters-button .cbp-filter-counter {
	background-color: #4ACCD1;
}

.cbp-l-filters-alignLeft .cbp-filter-item-active {
    /* @editable properties */
    background-color: #4ACCD1;
    border:1px solid #4ACCD1;
}

.cbp-l-filters-dropdownWrap {
    background: #4ACCD1;
}
.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    /* @editable properties */
    background-color: #4ACCD1;
    border-color: #4ACCD1;
}
.cbp-l-caption-buttonLeft,
.cbp-l-caption-buttonRight {
    /* @editable properties */
    background-color: #4ACCD1;
}

.cbp-l-caption-buttonLeft:hover,
.cbp-l-caption-buttonRight:hover {
    /* @editable properties */
    background-color: #3fbbc0;
}

.form-control:focus {
  border-color: #3fbbc0;
}
